<table  class="nhsuk-table__panel-with-heading-tab">
  <thead>
    <tr style="text-align: right;">
      <th>Publication Date</th>
      <th>Publication Title</th>
      <th>Journal</th>
      <th>Authors</th>
      <th>No. PMC Citations</th>
      <th>Keywords</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2021-07-13</td>
      <td><a href='http://doi.org/10.1177/20552076211018617'>The NICE Evidence Standards Framework for digital health and care technologies - Developing and maintaining an innovative evidence framework with global impact.</a></td>
      <td>Digital health</td>
      <td>Unsworth H, Dillon B, Collinson L, Powell H, Salmon M, Oladapo T, Ayiku L, Shield G, Holden J, Patel N, Campbell M, Greaves F, <b>Joshi I</b>, Powell J, Tonnel A</td>
      <td>0</td>
      <td>Health economics, clinical evidence, digital health, general, health technology assessment</td>
    </tr>
    <tr>
      <td>2020-10-24</td>
      <td><a href='http://doi.org/10.7861/fhj.dig-2020-trai'>Digital health - a trainee's perspective.</a></td>
      <td>Future healthcare journal</td>
      <td><b>Maguire J</b></td>
      <td>0</td>
      <td>QI, Trainee, digital, training</td>
    </tr>
    <tr>
      <td>2020-07-24</td>
      <td><a href='http://doi.org/10.1016/j.socscimed.2020.113172'>The ethics of AI in health care: A mapping review.</a></td>
      <td>Social science & medicine (1982)</td>
      <td>Morley J, Machado CCV, Burr C, Cowls J, <b>Joshi I</b>, Taddeo M, Floridi L</td>
      <td>6</td>
      <td>Artificial intelligence, Ethics, Health policies, Healthcare, Machine learning</td>
    </tr>
    <tr>
      <td>2020-07-17</td>
      <td><a href='http://doi.org/10.1177/0141076820930666'>Bringing NHS data analysis into the 21st century.</a></td>
      <td>Journal of the Royal Society of Medicine</td>
      <td>Goldacre B, Bardsley M, Benson T, Cheema K, Chinn R, Coughlan E, Dougan S, Farr M, Hawkins L, Jonas A, Kinnear A, Mcinnes M, Mohammed MA, Morton C, Pasumarthy R, Pettinger N, Rowland B, Sebire N, Stroner P, Tennison J, <b>Warnakula S</b>, Watson O, Wright E, Young H, Morley J</td>
      <td>2</td>
      <td></td>
    </tr>
    <tr>
      <td>2020-07-04</td>
      <td><a href='http://doi.org/10.1183/13993003.01809-2020'>Using imaging to combat a pandemic: rationale for developing the UK National COVID-19 Chest Imaging Database.</a></td>
      <td>The European respiratory journal</td>
      <td>Jacob J, Alexander D, Baillie JK, Berka R, Bertolli O, Blackwood J, Buchan I, Bloomfield C, <b>Cushnan D</b>, Docherty A, Edey A, Favaro A, Gleeson F, Halling-Brown M, Hare S, Jefferson E, Johnstone A, Kirby M, McStay R, Nair A, Openshaw PJM, Parker G, Reilly G, Robinson G, Roditi G, Rodrigues JCL, Sebire N, Semple MG, Sudlow C, Woznitza N, <b>Joshi I</b></td>
      <td>5</td>
      <td></td>
    </tr>
    <tr>
      <td>2020-02-06</td>
      <td><a href='http://doi.org/10.1177/2055207619899798'>Supporting early clinical careers in digital health: Nurturing the next generation.</a></td>
      <td>Digital health</td>
      <td>Robbins T, Zucker K, Abdulhussein H, Chaplin V, <b>Maguire J</b>, Arvanitis TN</td>
      <td>1</td>
      <td></td>
    </tr>
  </tbody>
</table>